extends ../layouts/application.pug

block content
  h1.mt-5.mb-4= t('views.users.index.title')

  table.table.table-striped.table-borderless.bg-white
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.fullName')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th= t('views.users.actions')
    tbody
      each user in users
        tr
          td= user.id
          td= user.fullName
          td= user.email
          td= new Date(user.createdAt).toLocaleString()
          td
            if currentUser && currentUser.id === user.id
              a.btn.btn-primary.btn-sm.me-1(href=`/users/${user.id}/edit`)= t('views.statuses.index.edit')
              form.d-inline(method="post" action=`/users/${user.id}`)
                input(type="hidden" name="method" value="DELETE")
                button.btn.btn-danger.btn-sm(type="submit")= t('views.statuses.index.delete')
