extends ../layouts/application.pug

block content
  h1= t('views.labels.edit.title')

  form(method="post" action=`/labels/${label.id}?_method=PATCH`)
    .mb-3
      label.form-label(for="data_name")= t('views.labels.name')
      input#data_name.form-control(
        type="text"
        name="data[name]"
        value=label.name || ''
        class={'is-invalid': errors && errors.name}
      )
      if errors && errors.name
        .invalid-feedback.d-block= errors.name[0].message

    button.btn.btn-primary.me-2(type="submit")= t('views.labels.edit.submit')

  hr

  form.mt-3(method="post" action=`/labels/${label.id}?_method=DELETE`)
    button.btn.btn-danger(type="submit")= t('views.labels.edit.delete')
