extends ../layouts/application.pug

block content
  h1= t('views.labels.new.title')

  form(method="post" action="/labels")
    .mb-3
      label.form-label(for="data_name")= t('views.labels.name')
      input#data_name.form-control(
        type="text"
        name="data[name]"
        value=label.name || ''
        class={'is-invalid': errors && errors.name}
      )
      if errors && errors.name
        .invalid-feedback.d-block= errors.name[0].message

    button.btn.btn-primary(type="submit")= t('views.labels.new.submit')
