extends ../layouts/application.pug

block content
  h1.mt-5.mb-4= t('views.tasks.index.title')

  form.mb-3(method="get" action="/tasks")
    .row.g-2
      .col-md-3
        label.form-label(for="data_status")= t('views.tasks.filter.status')
        select#data_status.form-select(name="status")
          option(value="")= t('views.tasks.filter.selectStatus')
          each s in statuses
            option(value=s.id selected=(filter.status == s.id))= s.name
      .col-md-3
        label.form-label(for="data_executor")= t('views.tasks.filter.executor')
        select#data_executor.form-select(name="executor")
          option(value="")= t('views.tasks.filter.selectExecutor')
          each user in users
            option(value=user.id selected=(filter.executor == user.id))= user.fullName
      .col-md-3
        label.form-label(for="data_label")= t('views.tasks.filter.label')
        select#data_label.form-select(name="label")
          option(value="")= t('views.tasks.filter.selectLabel')
          each l in labels
            option(value=l.id selected=(filter.label == l.id))= l.name
      .col-md-3
        .form-check.mt-4
          input#isCreatorUser.form-check-input(
            type="checkbox"
            name="isCreatorUser"
            value="1"
            checked=filter.isCreatorUser
          )
          label.form-check-label(for="isCreatorUser")= t('views.tasks.filter.isCreatorUser')
    .row.mt-2
      .col
        button.btn.btn-primary(type="submit")= t('views.tasks.filter.submit')

  a.btn.btn-primary.mb-3(href="/tasks/new")= t('views.tasks.index.createLink')

  table.table.table-striped.table-borderless.bg-white
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
        th= t('views.tasks.actions')
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=`/tasks/${task.id}`)= task.name
          td= task.status ? task.status.name : ''
          td= task.creator ? task.creator.fullName : ''
          td= task.executor ? task.executor.fullName : ''
          td= task.createdAt
          td
            a.btn.btn-sm.btn-warning.me-1(href=`/tasks/${task.id}/edit`)= t('views.tasks.index.edit')
            form.d-inline(method="post" action=`/tasks/${task.id}`)
              input(type="hidden" name="method" value="DELETE")
              button.btn.btn-sm.btn-danger(type="submit")= t('views.tasks.index.delete')
