doctype html
html.h-100(lang=currentLang || "ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= t('appName')
    link(rel="stylesheet" href="/assets/styles.css")
  body.d-flex.flex-column.h-100.bg-light
    nav.navbar.navbar-expand-lg.navbar-light.bg-white
      .container
        a.navbar-brand(href="/")= t('layouts.navbar.brand')
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.me-auto
            li.nav-item
              a.nav-link(href="/users")= t('layouts.navbar.users')
            if currentUser
              li.nav-item
                a.nav-link(href="/statuses")= t('layouts.navbar.statuses')
              li.nav-item
                a.nav-link(href="/tasks")= t('layouts.navbar.tasks')
              li.nav-item
                a.nav-link(href="/labels")= t('layouts.navbar.labels')
          ul.navbar-nav
            if currentUser
              li.nav-item
                a.nav-link(href=`/users/${currentUser.id}/edit`)= currentUser.fullName
              li.nav-item
                form.d-inline(method="post" action="/session/delete")
                  button.btn.nav-link(type="submit")= t('layouts.navbar.signOut')
            else
              li.nav-item
                a.nav-link(href="/session/new")= t('layouts.navbar.signIn')
              li.nav-item
                a.nav-link(href="/users/new")= t('layouts.navbar.signUp')
          ul.navbar-nav.ms-3.align-items-center
            li.nav-item
              if currentLang === 'ru'
                span.nav-link.py-0.fw-bold RU
              else
                form.d-inline(method="post" action="/lang")
                  input(type="hidden" name="lang" value="ru")
                  button.btn.btn-link.nav-link.py-0.text-decoration-none(type="submit") RU
            li.nav-item
              span.text-muted |
            li.nav-item
              if currentLang === 'en'
                span.nav-link.py-0.fw-bold EN
              else
                form.d-inline(method="post" action="/lang")
                  input(type="hidden" name="lang" value="en")
                  button.btn.btn-link.nav-link.py-0.text-decoration-none(type="submit") EN

    main.container.mt-4.flex-grow-1
      if flash.info
        .alert.alert-info.alert-dismissible.fade.show(role="alert")
          = flash.info
          button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")
      if flash.error
        .alert.alert-danger.alert-dismissible.fade.show(role="alert")
          = flash.error
          button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")
      block content

    footer.footer.bg-dark.py-3.mt-auto
      .container.text-center
        span.text-white © Hexlet Ltd, 2021

    script(src="/assets/main.js")
