doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= t('appName')
    link(rel="stylesheet" href="/assets/styles.css")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.navbar-brand(href="/")= t('layouts.navbar.brand')
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.me-auto
            li.nav-item
              a.nav-link(href="/")= t('layouts.navbar.home')
            li.nav-item
              a.nav-link(href="/users")= t('layouts.navbar.users')
            li.nav-item
              a.nav-link(href="/statuses")= t('layouts.navbar.statuses')
            li.nav-item
              a.nav-link(href="/tasks")= t('layouts.navbar.tasks')
            li.nav-item
              a.nav-link(href="/labels")= t('layouts.navbar.labels')
          ul.navbar-nav
            if currentUser
              li.nav-item
                a.nav-link(href=`/users/${currentUser.id}/edit`)= currentUser.fullName
              li.nav-item
                form.d-inline(method="post" action="/session?_method=DELETE")
                  button.btn.nav-link(type="submit")= t('layouts.navbar.signOut')
            else
              li.nav-item
                a.nav-link(href="/session/new")= t('layouts.navbar.signIn')
              li.nav-item
                a.nav-link(href="/users/new")= t('layouts.navbar.signUp')

    main.container.mt-4
      if flash.info
        .alert.alert-info.alert-dismissible.fade.show(role="alert")
          = flash.info
          button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")
      if flash.error
        .alert.alert-danger.alert-dismissible.fade.show(role="alert")
          = flash.error
          button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")
      block content

    script(src="/assets/main.js")
